<!-- FOOTER -->
<footer class="footer">
    <div class="container is--full">
        <p class="footer-text">© <span id="current-year"><%= site.year %></span> <%= site.name %>. All rights reserved.</p>
    </div>
</footer>