<section class="client-login">
    <div class="container">
        <div class="client-content">
            <h1 class="login-title">CLIENT PORTAL</h1>
            <div class="client-buttons">
                <a href="/client/intake" class="btn btn-primary">NEW</a>
                <a href="/client/portal" class="btn btn-primary">EXISTING</a>
            </div>
        </div>
    </div>
</section>